@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "cuprum";

  src: url(../fonts/cuprum.woff) format("woff"), url(../fonts/cuprum.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "cuprum";

  src: url(../fonts/cuprumbold.woff) format("woff"), url(../fonts/cuprumbold.woff2) format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "cuprum";

  src: url(../fonts/cuprumitalic.woff) format("woff"), url(../fonts/cuprumitalic.woff2) format("woff2");
}

@font-face {
  font-style: italic;
  font-weight: 700;
  font-family: "cuprum";

  src: url(../fonts/cuprumbolditalic.woff) format("woff"), url(../fonts/cuprumbolditalic.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "ptsans";

  src: url(../fonts/ptsans.woff) format("woff"), url(../fonts/ptsans.woff2) format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "ptsans";

  src: url(../fonts/ptsansbold.woff) format("woff"), url(../fonts/ptsansbold.woff2) format("woff2");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-height: 100%;
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  min-width: 960px;
  min-height: 100vh;
  margin: 0;

  font-size: 17px;
  line-height: 1;
  font-family: "cuprum", "Arial", sans-serif;
  color: #000000;
}

.main-page {
  padding-bottom: 12px;
}

.link {
  color: inherit;
  text-decoration: none;
}

.link_accent {
  color: #ffd180;
}

.site-body address {
  font-style: normal;
  font-weight: 400;
}

.site-form input,
.site-form textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.reseted-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;

  list-style-type: none;
}

.site-block {
  padding: 55px 0;
}

.site-block_no-pad-top {
  padding-top: 0;
}

.site-block:last-child {
  padding-bottom: 70px;
}

.site-block__title {
  margin: 0;
  margin-top: 10px;
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

.site-block__title_offest_25 {
  margin-top: 25px;
}

.site-block__content {
  font-size: 13px;
  line-height: 24px;
  font-family: PTSans, Arial, sans-serif;
}

.site-block__content .btn {
  padding: 11px 10px 10px 10px;
}

.site-block__content span {
  display: block;
}

.site-block__content p:first-child {
  margin: 0;
}

.site-block__content p {
  margin: 0;
}

.site-block__content p + p {
  margin-top: 20px;
}

.site-block__content .btn {
  margin-top: 35px;
}

.site-block_gray {
  background-color: #f3f7f8;
}

.site-header__top {
  color: #ffffff;

  background-color: #293449;
}

.site-header {
  padding-top: 0;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;

  clip: rect(0 0 0 0);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 14px 14px 12px 14px;

  font-size: 14px;
  line-height: 18px;
  font-family: Cuprum, Arial, sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #ee3643;
  border: 0;
  border-radius: 4px;
}

.btn_fluid {
  width: 100%;
}

.btn_neutral {
  color: #000000;

  background-color: #ffffff;
}

.btn_light {
  background-color: #ff5357;
}

.btn:hover,
.btn:focus {
  background-color: #ca2c37;
}

.btn_neutral:hover,
.btn_neutral:focus {
  color: #000000;

  background-color: #ffffff;
}

.btn:active {
  background-color: #ba2732;
}

.btn_w_220 {
  width: 220px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 20px auto;
  padding: 0;

  list-style-type: none;
  font-size: 13px;
  line-height: 18px;
  font-family: PTSans, Arial, sans-serif;
  text-transform: uppercase;
}

.breadcrumbs li {
  position: relative;

  margin: 0 19px;
}

.breadcrumbs li:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0;
  left: -23px;

  display: inline-block;
  width: 8px;
  height: 16px;

  vertical-align: top;

  background-image: url(../img/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.breadcrumbs li:first-child {
  margin-left: 0;
}

.home-link {
  display: inline-block;
  width: 15px;
  height: 15px;

  vertical-align: top;

  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center center;
}

.site-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  text-transform: uppercase;
  letter-spacing: -1px;

  cursor: pointer;
}

.site-input:focus-within {
  outline: 1px solid #c5c5c5;
  outline-offset: 5px;
}

.site-input__input {
  position: absolute;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.site-input__mark {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 25px;
  padding-left: 35px;

  opacity: 0.8;
}

.site-input__mark::after,
.site-input__mark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;

  display: block;
  width: 25px;
  height: 25px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.site-input__input[disabled] + .site-input__mark {
  opacity: 0.3;
}

.site-input__input:not([disabled]):hover + .site-input__mark,
.site-input__input:focus + .site-input__mark {
  opacity: 1;
}

.site-input__input + .site-input__mark::after {
  display: none;
}

.site-input__input:checked + .site-input__mark::before {
  display: none;
}

.site-input__input:checked + .site-input__mark::after {
  display: block;
}

.site-input__input[type=checkbox] + .site-input__mark::before {
  top: 50%;

  width: 21px;
  height: 21px;

  background-image: url(../img/checkbox-off.svg);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-input__input[type=checkbox] + .site-input__mark::after {
  top: 50%;
  left: 0;

  width: 25px;
  height: 21px;

  background-image: url(../img/checkbox-on.svg);
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-input__input[type=radio] + .site-input__mark::before {
  background-image: url(../img/radio-off.svg);
}

.site-input__input[type=radio] + .site-input__mark::after {
  background-image: url(../img/radio-on.svg);
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.grid__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

.grid__row:first-child {
  margin-top: 5px;
}

.grid__item {
  width: 100%;
  margin: 0 10px;
}

.grid__item_4 {
  width: calc(33.333% - 20px);
}

.grid__item_6 {
  width: calc(50% - 20px);
}

.grid__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: 0 10px;
}

.grid__col_6 {
  width: calc(50% - 20px);
}

.grid__col .grid__item {
  margin: 10px 0;
}

.grid__col .grid__item:first-child {
  margin-top: 0;
}

.grid__col .grid__item:last-child {
  margin-bottom: 0;
}

.grid__col_4 {
  width: calc(33.333% - 20px);
}

.grid__item_8 {
  width: calc(66.666% - 20px);
}

.container {
  width: 940px;
  margin: 0 auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.row.no-gutters .col {
  padding: 0;
}

.col {
  padding: 0 10px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.666%;
}

.col-10 {
  width: 83.333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.666%;
}

.col-7 {
  width: 58.333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.666%;
}

.col-4 {
  width: 33.333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.666%;
}

.col-1 {
  width: 8.333%;
}

.col-offset-1 {
  margin-left: 8.333%;
}

.site-header__top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-logo {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 12px 56px;

  background-color: #ee3643;
}

.site-header .site-logo:hover,
.site-header .site-logo:focus {
  background-color: #ca2c37;
  outline: 0;
}

.site-header .site-logo:hover::after,
.site-header .site-logo:focus::after {
  background-color: #9a212a;
}

.site-header .site-logo:active::after {
  background-color: #8e1e26;
}

.site-header .site-logo:active {
  background-color: #ba2732;
}

.search-inline__input {
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 45px;

  color: #ffffff;

  background-color: transparent;
  border: 0;
  border-radius: 0;

  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.search-inline__input::-webkit-input-placeholder {
  color: #ffffff;
}

.search-inline__input:-ms-input-placeholder {
  color: #ffffff;
}

.search-inline__input::-ms-input-placeholder {
  color: #ffffff;
}

.search-inline__input::placeholder {
  color: #ffffff;
}

.search-inline__input:hover {
  background-color: #212a3a;
}

.search-inline__input:focus {
  color: #000000;

  background-color: #ffffff;
  outline: 0;
}

.search-inline {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 270px;
}

.search-inline__submit {
  position: absolute;
  top: 0;
  left: 0;

  width: 45px;
  height: 100%;
  padding: 0;

  color: #c5c5c5;

  background-color: transparent;
  border: 0;
}

.search-inline__input:hover + .search-inline__submit {
  color: #ffffff;
}

.search-inline__input:focus + .search-inline__submit {
  color: #ee3643;
}

.activity-control {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;
  padding: 10px 10px 10px 47px;

  background-repeat: no-repeat;
  background-position: left 20px center;
}

.activity-control_cart.active {
  background-color: #ee3643;
}

.activity-control span:last-child {
  margin-left: 5px;
}

.activity-control::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 15px;

  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.activity-control_bookmark:before {
  background-image: url(../img/icon-bookmark.svg);
}

.activity-control_cart:before {
  background-image: url(../img/icon-cart.svg);
}

.activity-control:hover,
.activity-control:focus {
  background-color: #212a3a;
  outline: 0;
}

.activity-control:hover::before,
.activity-control:focus::before {
  opacity: 1;
}

.activity-control:active {
  color: #c5c5c5;
}

.activity-control:active::before {
  opacity: 0.3;
}

.place-order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 150px;

  background-color: #63a63e;
}

.place-order:hover,
.place-order:focus {
  background-color: #5fbb2d;
  outline: 0;
}

.place-order:active {
  color: #c5c5c5;

  background-color: #518534;
}

.site-logo:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  display: block;
  width: 100%;
  height: 5px;

  background-color: #b52933;
}

.site-header__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  max-width: 225px;
  margin: 0;
  margin-left: 52px;

  font-style: italic;
  font-weight: 200;
  font-size: 16px;
  line-height: 23px;
  color: red;
  letter-spacing: 0;
}

.site-header__middle {
  padding: 50px 0 0 0;
}

.site-header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 270px;
  padding: 7px 8px 7px 8px;
  padding-left: 30px;

  font-size: 21px;
  color: #ee3643;

  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: left 13px top 6px;
  border: 3px solid #ffffff;
}

.site-header__address {
  max-width: 270px;
  margin-top: 3px;
  padding-left: 10px;

  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.sign {
  position: relative;

  display: inline-block;

  font-size: 21px;
  vertical-align: top;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: left 15px center;
}

.sign:hover,
.sign:focus {
  color: #ee3643;

  outline: 0;
}

.sign:hover path,
.sign:focus path {
  fill: #32425c;
}

.sign:active {
  color: #c5c5c5;
}

.sign:active path {
  fill: #c5c5c5;
}

.sign_up {
  margin-left: 7px;
  padding: 10px 20px 11px 24px;
}

.sign_icon {
  display: inline-block;
  margin-right: 6px;

  vertical-align: top;
}

.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 13px 10px 15px;

  background-color: #ffffff;
}

.user__icon {
  display: inline-block;
  margin-right: 10px;

  vertical-align: top;
  color: #c5c5c5;
}

.user__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  font-size: 21px;
}

.user__sign-out {
  margin-left: auto;

  color: #c5c5c5;
}

.sign_in {
  margin-left: 20px;
  padding: 10px 25px 10px 15px;
}

.user-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 7px;
  padding: 0;

  font-size: 16px;
  line-height: 18px;
  color: #32425c;
}

.user-links li {
  margin: 0 15px;
}

.user-links li:nth-child(2n-1) {
  list-style-type: none;
}

.user-links a {
  color: inherit;
}

.user__name:focus {
  outline: 0;
}

.user__name:hover .user__icon,
.user__name:focus .user__icon {
  color: #32425c;
}

.user__name:active {
  opacity: 0.3;
}

.user__sign-out:focus {
  outline: 0;
}

.user__sign-out:hover path,
.user__sign-out:focus path {
  fill: #32425c;
}

.user__sign-out:active path {
  fill: #c5c5c5;
}

.user-links a:focus {
  outline: 0;
}

.user-links a:focus,
.user-links a:hover {
  color: #ee3643;
}

.user-links a:active {
  color: #32425c;

  opacity: 0.3;
}

.site-header__nav {
  margin-top: 40px;
}

.site-header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  color: #ffffff;

  background-color: #32425c;
  border-bottom: 5px solid #293449;
}

.site-header__nav-link {
  position: relative;

  display: inline-block;
  padding: 20px 30px;

  font-size: 17px;
  vertical-align: top;
}

.site-header__nav-link:hover,
.site-header__nav-link:focus {
  background-color: #293449;
  outline: 0;
}

.site-header__nav-link:active {
  color: #a1a4a8;

  background-color: #1d2739;
}

.site-header__nav-link::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;

  display: none;
  /* width: calc(100% + 30px); */
  width: 100%;
  height: 5px;

  background-color: #1d2739;
}

.site-header__nav-link:active::after {
  display: block;
}


.tile {
  padding: 20px 20px 20px 23px;

  color: #ffffff;

  background-repeat: no-repeat;
  background-position: right 15px center;
  background-origin: content-box;
}

.tile.tile_orange {
  background-color: #ffbf47;
}

.tile_blue {
  background-color: #3bbce3;
}

.tile_pink {
  background-color: #dc91d8;
}

.tile_green {
  background-color: #8ed78f;
}

.tile_new {
  position: relative;

  overflow: hidden;
}

.tile_new:after {
  content: "new";
  position: absolute;
  top: 6px;
  right: -29px;

  display: block;
  width: 100px;
  padding: 5px;

  text-align: center;

  background-color: #ff5357;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.tile__title {
  margin: 0;

  font-size: 24px;
  line-height: 30px;
  word-break: break-all;
}

.tile__link {
  display: inline-block;
  min-width: 135px;
  max-width: 100%;
  margin-top: 13px;
  padding: 11px;
  padding-bottom: 10px;

  font-size: 14px;
  line-height: 18px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  word-break: break-all;

  background-color: #666666;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.tile__link:hover,
.tile__link:focus {
  background-color: rgba(0, 0, 0, 0.2);
  outline: 0;
}

.tile__link:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider__item {
  position: relative;

  display: none;
  height: 100%;
  /* padding: 25px 20px; */

  color: #ffffff;

  background-color: #d3d3d3;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider__item.active {
  display: block;
}

.slider__item-head {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  padding: 25px;
  padding-bottom: 0;
}

.slider__item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;

  -o-object-fit: cover;
     object-fit: cover;
}

.slider {
  position: relative;

  height: 100%;
}

.slider__items {
  height: 100%;
}

.slider__item-title {
  margin: 0;

  font-size: 36px;
  text-transform: uppercase;
}

.slider__item-subtitle {
  font-size: 18px;
  line-height: 24px;
}

.slider__link {
  position: absolute;
  bottom: 20px;
  left: 25px;

  min-width: 195px;
}

.slider__control {
  position: absolute;
  top: 50%;
  z-index: 10;

  width: 22px;
  height: 40px;
  margin: 0;
  padding: 0;

  background-color: transparent;
  border: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.slider .btn {
  padding: 10px 10px 8px 10px;
}

.slider__control.slider__control_prev {
  left: 20px;

  background-image: url(../img/icon-left.svg);
}

.slider__control_next {
  right: 20px;

  background-image: url(../img/icon-right.svg);
}

.slider__nav {
  position: absolute;
  bottom: 28px;
  left: 50%;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slider__nav-item {
  margin: 5px;
}

.slider__nav-item-btn {
  display: block;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 6px;
  height: 6px;
  padding: 0;

  font-size: 0;
  line-height: 1;

  background-color: #ffffff;
  border: 0;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;

  -webkit-appearance: none;
}

.slider__nav-item-btn.active {
  background-color: #ee3643;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0;
  margin-top: 20px;
  padding: 25px 24px 23px 28px;

  background-color: #f9f5f0;
}

.block-header_smaller {
  padding: 30px 24px 30px 28px;
}

.block-header_offset-top_double {
  margin-top: 45px;
}

.block-header_gray {
  background-color: #f3f7f8;
}

.block-header__title {
  margin: 0;

  font-weight: 400;
  font-size: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.block-header__link {
  min-width: 253px;
  margin-left: auto;
}

.product-list {
  margin-top: 10px;
  margin-bottom: -10px;
}

.product-list li {
  margin: 10px 0;
}

.product-list .product {
  height: 100%;
}

.product {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px 5px 20px 5px;
  overflow: hidden;

  font-family: PTSans, Arial, sans-serif;

  border: 1px solid #eaeaea;

  -webkit-transition: -webkit-box-shadow 0.2s linear;
       -o-transition:         box-shadow 0.2s linear;
          transition: -webkit-box-shadow 0.2s linear;
          transition:         box-shadow 0.2s linear;
          transition:         box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.product__image {
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.product__title {
  max-width: 210px;
  margin: 0;
  margin-top: 10px;
  padding: 0 20px;

  font-size: 18px;
  line-height: 20px;
  text-align: center;
}

.product__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-top: auto;

  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
}

.product__price-old {
  margin: 0;
  margin-top: 10px;

  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
}

.product__price-now {
  position: relative;

  min-width: 140px;
  margin: 0;
  margin-top: 10px;
  margin-left: 5px;
  padding: 12px 11px 10px 10px;

  color: #ffffff;

  background-color: #ee3643;
  background: url(../img/red-button.svg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-origin: border-box;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.product__actions {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 165px;
  padding: 10px;

  font-size: 14px;
  line-height: 18px;
  font-family: cuprum, Arial, sans-serif;
  text-transform: uppercase;

  background-color: #ffffff;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;

  -webkit-transition: all 0.4s ease-in-out;
       -o-transition: all 0.4s ease-in-out;
          transition: all 0.4s ease-in-out;
}

.product:hover .product__actions,
.product:focus .product__actions,
.product__actions:focus-within {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  opacity: 1;
}

.product__actions-buy {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 135px;
  padding: 10px 30px;

  color: #ffffff;
  text-transform: uppercase;

  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  border-radius: 5px;
}

.product__actions-buy:before {
  content: "";
  position: absolute;
  top: 9px;
  left: 10px;

  display: block;
  width: 20px;
  height: 20px;

  background-image: url(../img/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.3;
}

.product__actions-bookmark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-width: 135px;
  margin-top: 8px;
  padding: 10px;

  border: 3px solid #63a63e;
  border-radius: 4px;
}

.product:hover,
.product:focus,
.manufacturer:hover,
.manufacturer:focus {
  outline: 0;
  -webkit-box-shadow: 0 4px 20px -3px gray;
          box-shadow: 0 4px 20px -3px gray;
}

.product__actions-buy:hover,
.product__actions-buy:focus {
  background-color: #5fbb2d;
  outline: 0;
}

.product__actions-buy:hover::before,
.product__actions-buy:focus::before {
  opacity: 1;
}

.product__actions-buy:active {
  background-color: #518534;
  border-bottom-color: #518534;
}

.product__actions-bookmark:hover,
.product__actions-bookmark:focus {
  border-color: #32425c;
  outline: 0;
}

.product__actions-bookmark:active {
  opacity: 0.3;
}

.product_new::after {
  content: "new";
  position: absolute;
  top: 5px;
  right: -31px;
  z-index: 10;

  width: 100px;
  padding: 5px;

  font-weight: 200;
  font-size: 16px;
  font-family: Cuprum, Arial, sans-serif;
  text-align: center;
  color: #ffffff;

  background-color: #ee3643;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.manufacturers-list {
  margin-top: 10px;
  margin-bottom: 20px;
}

.manufacturer {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 145px;
  margin: 10px 0;

  border: 1px solid #eaeaea;

  -webkit-transition: -webkit-box-shadow 0.2s linear;
       -o-transition:         box-shadow 0.2s linear;
          transition: -webkit-box-shadow 0.2s linear;
          transition:         box-shadow 0.2s linear;
          transition:         box-shadow 0.2s linear, -webkit-box-shadow 0.2s linear;
}

.manufacturer:active {
  -webkit-box-shadow: 0 2px 6px 0 #000000;
          box-shadow: 0 2px 6px 0 #000000;
  opacity: 0.3;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
  margin-bottom: 12px;
}

.tabs__content {
  width: 100%;
  margin-left: 80px;
}

.tabs__labels {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 240px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.tabs__labels-item {
  display: block;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 100%;
  padding: 13px 15px 17px 22px;

  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;

  background-color: #32425c;
  border: 0;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
}

.tabs__labels-item:hover,
.tabs__labels-item:focus {
  background-color: #293449;
  outline: 0;
}

.tabs__labels .active {
  color: #405069;

  background-color: #ffffff;
  border-color: transparent;
}

.tabs__labels:after {
  content: "";
  position: absolute;
  top: -15px;
  right: 0;

  display: block;
  width: 10px;
  height: 110%;

  background-image: url(../img/shadow-line-vertical.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.tabs__item-title {
  margin: 30px 0;
  margin-bottom: 0;

  font-weight: 400;
  font-size: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.tabs__item-content {
  max-width: 275px;
  margin-top: 25px;

  font-size: 13px;
  line-height: 24px;
  font-family: PTSans, Arial, sans-serif;
}

.tabs__item-content p {
  margin: 0;
}

.tabs__item-content .btn {
  min-width: 195px;
}

.tabs__item .btn {
  display: inline-block;
  min-width: 195px;
  margin-top: 30px;

  vertical-align: top;
  text-align: center;
}

.tabs__item:not(.active) {
  display: none;
}

.site-list {
  margin-top: 21px;

  font-size: 18px;
  line-height: 20px;
  font-family: Cuprum, Arial, sans-serif;
}

.site-list li {
  position: relative;

  margin: 20px 0;
  padding-left: 35px;
}

.site-list li:before {
  content: "";
  position: absolute;
  top: calc(50% - 1px);
  left: 0;

  display: block;
  width: 25px;
  height: 2px;

  background-color: #ee3643;
}

.site-footer {
  font-size: 18px;
  line-height: 24px;
  color: #f3f7f9;

  background-color: #32425c;
}

.site-footer__nav_top {
  margin-top: 35px;
}

.site-footer .adress-block {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 0;
}

.site-footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.site-footer__row:not(:first-child) {
  margin-top: 35px;
}

.footer__logo {
  padding: 13px 45px;
}

.site-footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.site-footer__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  /* margin-right: -30px; */
}

.site-footer__nav li {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 30px;
}

.site-footer__nav li:last-child {
  margin-right: 0;
}

.site-footer__nav-link:hover,
.site-footer__nav-link:focus {
  text-decoration: underline;

  outline: 0;
}

.site-footer__nav-link:active {
  text-decoration: none;

  opacity: 0.3;
}

.site-footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 50px;
  padding: 35px 10px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #293449;
}

.site-footer__copyright-item {
  margin: 0 20px;
}

.site-footer__copyright-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* margin: 0 -20px; */
}

.site-footer__copyright-item:last-child {
  margin-right: 0;
  margin-left: 30px;
}

.site-footer__copyright-item:first-child {
  margin-left: 0;
}

.site-footer__copyright p {
  margin: 0;
}

.site-footer__copyright .link_accent:hover,
.site-footer__copyright .link_accent:focus {
  text-decoration: underline;

  outline: 0;
}

.site-footer__copyright .link_accent:active {
  color: #ee3643;
  text-decoration: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 330px;
  max-width: 330px;
  margin-top: -2px;
  padding-left: 44px;
}

.social li {
  margin: 2px;
}

.social a {
  display: block;
  width: 42px;
  height: 42px;

  background-color: #212a3a;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.social a:hover,
.social a:focus,
.social a:hover,
.social a:active {
  background-color: #ee3643;
  outline: 0;
}

.link.social__vk {
  background-image: url(../img/icon-vk.svg);
}

.social__facebook {
  background-image: url(../img/icon-fb.svg);
}

.social__instagram {
  background-image: url(../img/icon-insta.svg);
}

.tile_materials {
  background-image: url(../img/icon-1.svg);
}

.tile_tools {
  background-image: url(../img/icon-2.svg);
}

.tile_vehicle {
  background-image: url(../img/icon-3.svg);
}

.tile_sale {
  background-image: url(../img/icon-4.svg);
}

.tile_delivery {
  background-image: url(../img/icon-5.svg);
}

.tabs__item {
  height: 100%;

  background-repeat: no-repeat;
  background-position: right top 25px;
}

.delivery {
  background-image: url(../img/delivery-bg.png);
}

.garanty {
  background-image: url(../img/guarantee-bg.png);
}

.credit {
  background-image: url(../img/credit-bg.png);
}

.catalog {
  margin-top: 20px;
}

.catalog__product-list {
  margin-top: 5px;
}

.column-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 11px 18px 10px 18px;

  font-size: 13px;
  line-height: 18px;
  font-family: PTSans, Arial, sans-serif;
  text-transform: uppercase;

  background-color: #f7f3ec;
}

.column-head__title {
  margin: 0;

  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.filter-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 0;
  padding: 0;
  padding-top: 20px;

  border: 0;

  -webkit-margin-end: 0;
  margin-inline-end: 0;
  margin-inline-start: 0;
  -webkit-margin-start: 0;
  min-inline-size: unset;
  -webkit-padding-before: 0;
  padding-block-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

.filter-form__group:not(:first-child) {
  margin-top: 25px;
}

.filter-form__group legend {
  margin-bottom: 15px;

  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-form__group:not(:first-child) legend {
  width: 100%;
  margin-bottom: 0;
  padding-top: 15px;

  border-top: 1px solid #c5c5c5;
}

.filter-form__group-list li:last-child {
  margin-bottom: 0;
}

.price-filter-group {
  width: 100%;
}

.filter-form {
  margin-top: 10px;

  font-family: PTSans, Arial, sans-serif;
}

.filter-form__group:not(:first-child) {
  margin-top: 25px;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 10px;
}

.price input {
  width: 95px;
  height: 38px;

  text-align: center;

  background-color: #f7f3ec;
  border: 0;
  border-radius: 4px;
}

.range {
  position: relative;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 38px 25px;

  background-color: #f7f3ec;
  border-radius: 5px;
}

.range__path {
  position: relative;

  width: 100%;
  height: 2px;

  background-color: #d7dcde;
}

.range__path_current {
  width: 85%;
  height: 100%;

  background-color: #00ca74;
}

.range__handle {
  position: absolute;
  top: 50%;

  display: block;
  width: 20px;
  height: 20px;
  padding: 0;

  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 4px -1px gray;
          box-shadow: 0 1px 4px -1px gray;

  -webkit-appearance: none;
}

.range__handle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;
  width: 5px;
  height: 5px;

  background-color: #ababab;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range__handle_min {
  left: 0;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.range__handle_max {
  left: 85%;

  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.filter-form input[type=submit] {
  min-width: 140px;
  margin-top: 70px;
  padding: 15px;
  padding-bottom: 12px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  cursor: pointer;
}

.filter-form__group-list li {
  margin: 14px 0;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 52px;
  padding-left: 5px;

  font-size: 13px;
  line-height: 18px;
  font-family: PTSans, Arial, sans-serif;
  text-transform: uppercase;
}

.pagination li {
  margin: 0 5px;
}

.pagination__item {
  display: inline-block;
  padding: 11px 15px 8px 15px;

  vertical-align: top;

  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.pagination__item_next {
  padding: 11px 30px 8px 30px;
}

.pagination__item:hover,
.pagination__item:focus {
  border-color: #bdc6ca;
  outline: 0;
}

.pagination__item:active {
  border-color: #ee3643;
}

.pagination__item.active {
  color: #ffffff;

  background-color: #ee3643;
  border-color: #ee3643;
}

.sorting-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-head .sorting-list {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 100%;
  /* max-width: 100%; */
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  margin-left: 140px;
}

.sorting-list__link {
  color: #c5c5c5;

  border-color: #ee3643;
  border-bottom-width: 1px;
  border-bottom-style: dotted;
}

.sorting-list__link_order {
  border-bottom: none;
}

.sorting-list li:nth-child(5n-2) {
  margin-right: 47px;
}

.sorting-list li:nth-child(5n-3) {
  margin-right: 65px;
}

.sorting-list li:nth-child(5n-4) {
  margin-right: 70px;
}

.sorting-list li:last-child {
  margin-right: 0;
  /* justify-self: flex-end; */
}

.sorting-list li:nth-child(5n-1) {
  margin-right: 20px;
  /* justify-self: flex-end; */
}

.sorting-list__link.active {
  color: #ee3643;

  border-bottom-color: transparent;
}

.sorting-list__link:not(.sorting-list__link_order):hover,
.sorting-list__link:not(.sorting-list__link_order):focus {
  border-color: #ee3643;
  border-bottom-style: solid;
}

.sorting-list__link:hover,
.sorting-list__link:focus {
  color: #231f20;

  outline: 0;
}

.popup {
  position: fixed;
  top: -100%;
  left: 50%;
  z-index: 1000;

  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 620px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 0 10px 15px 5px rgba(0, 0, 0, 0.4);
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);

  -webkit-transition: top 0.3s ease-in-out;
       -o-transition: top 0.3s ease-in-out;
          transition: top 0.3s ease-in-out;
}

.popup.active {
  top: 50%;
}

.popup_fluid {
  width: 940px;
}

.popup_bordered {
  border-top: 7px solid #ee3643;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;

  width: 20px;
  height: 20px;

  background: url(../img/icon-close.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 160px;
  padding: 10px;
  padding: 40px 80px;

  font-size: 30px;
}

.popup__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  min-height: 115px;
  padding: 10px;
  padding: 35px 80px;

  background-color: #f4f4f4;
}

.popup__footer .btn:not(:first-child) {
  margin-left: 20px;
}

.done-mark {
  width: 66px;
  height: 66px;
  margin-right: 30px;

  background-image: url(../img/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
}

.popup form {
  width: 100%;
  max-width: 100%;
}

.contact-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;

  border: 0;
}

.contact-form__group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  margin: 10px;

  font-weight: 700;
  font-size: 18px;
}

.contact-form__group input,
.contact-form__group textarea {
  width: 100%;
  max-width: 100%;
}

.contact-form input,
.contact-form textarea {
  margin-top: 10px;
  padding: 12px 14px 10px 14px;

  font-size: 13px;
  line-height: 18px;

  border: 1px solid #c5c5c5;
  border-radius: 4px;
}

.map-link {
  display: block;
  margin-top: 25px;
}
